<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>{% block title %}Skystore{% endblock %}</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a href="{% url 'catalog:products_list' %}" class="p-2 btn btn-outline-primary">Каталог</a>
        <a href="{% url 'blogs:post_list' %}" class="p-2 btn btn-outline-primary">Блог</a>
        <a href="{% url 'catalog:contacts' %}" class="p-2 btn btn-outline-primary">Контакты</a>
        {% if user.is_authenticated %}
        <form action="{% url 'users:logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="p-2 btn btn-outline-primary">Выход</button>
        </form>
        {% else %}
        <a href="{% url 'users:login' %}" class="p-2 btn btn-outline-primary">Вход</a>
        <a href="{% url 'users:register' %}" class="p-2 btn btn-outline-primary">Регистрация</a>
        {% endif %}
    </nav>
</div>
<main class="flex-grow-1">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-white text-center text-muted py-3 border-top mt-auto">
    <div class="container">
        <p class="mb-0">&copy; 2026 Skystore. Все права защищены.</p>
    </div>
</footer>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>