{% extends 'blog/base.html' %}
{% block title %}Детали поста{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>{{post.title}}</h1>
    <p class="text-muted">Опубликовано {{post.created_at|date:"d.m.Y"}} | Просмотров {{post.views_count}}</p>
    {% if post.preview %}
        <img src="{{post.preview.url}}" class="img-fluid mb-4" alt="{{post.title}}" style="max-length: 400px; width: 100%; object-fit: cover:">
    {% endif %}
    <div class="article-content mb-4">
        {{post.content|linebreaks}}
    </div>
    <hr>
    <a href="{% url 'blog:post_update' post.pk %}" class="btn-warning">Редактировать</a>
    <a href="{% url 'blog:post_delete' post.pk %}" class="btn-danger">Удалить</a>
    <a href="{% url 'blog:post_list' %}" class="btn-secondary">Назад к списку</a>
</div>
{% endblock %}