{% extends 'blog/base.html' %}
{% block title %}Список постов{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Блог поекта Skystore</h1>
        <a href="{% url 'blog:post_create' %}" class="btn btn-success">Написать статью</a>
    </div>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 box-shadow">
                {% if post.preview %}
                <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content|truncatechars:100}}</p>
                    <div class="d-flex justify-content-between align-item-center">
                        <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-sm btn-outline-prymary">Читать далее</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Статей пока нет. Станьте первым кто опубликует запись.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}