<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали товара</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">{{ book.title }}</h1>
        <p>Название товара: {{ product.name }}</p>
        <p>Описание товара: {{ product.description|truncatechars:100 }}</p>
        <p>Цена товара: {{ product.price }}</p>
        <p>Изображение:</p>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail">
        {% else %}
        <p>Фото отсутсвует</p>
        {% endif %}
    </div>
    <!-- Подключение Bootstrap JS -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>