<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали товара</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">{{ book.title }}</h1>
        <p>Название товара: {{ product.name }}</p>
        <p>Описание товара: {{ product.description|truncatechars:100 }}</p>
        <p>Цена товара: {{ product.price }}</p>
        <p>Изображение:</p>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail">
        {% else %}
        <p>Фото отсутсвует</p>
        {% endif %}
        <div class="d-grid gap-2 mt-3 my-5">
            <hr>
            <a href="{% url 'catalog:products_list' %}" class="btn btn-sm btn-outline-primary">Назад к списку</a>
        </div>
        {% if perms.catalog.can_unpublish_product and product.is_published %}
        <div class="moderator-panel my-3">
            <form action="{% url 'catalog:product_unpublish' product.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Снять с публикации</button>
            </form>
        </div>
        {% endif %}
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>